*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    background-color: #010225;
}


main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: column;
    min-height: 100vh;
}


a {
    font-size: 1rem;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

span {
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
}

input[type="color"]::-moz-color-swatch {
    border: none;
  }
  
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 0;
}
  
input[type="color"]::-webkit-color-swatch {
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

footer {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100vw;
    padding: 10px;
}


footer img {
    margin-left: 10px;
}

.red { color: red; }
.orange { color: orange; }
.yellow { color: yellow; }
.green { color: green; }
.blue { color: blue; }
.violet { color: violet; }


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 100px;
}


.btn-container {
    background-color: #183d74;
    padding: 24px;
    height: 100%;
    margin-top: 30px;
    border-radius: 8px;
}

.top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    gap: 8px;
}

.top-section input {
    width: 80px;
    height: 32px;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0.8rem;
    
}

.top-section label {
    margin: 0;
    padding: 0;
    color: white;
    font-weight: bold;
}


.top-section input:hover {
    cursor: pointer;
}

.middle-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 20px;
}

.middle-section button {
    margin-bottom: 10px;
    width: 130px;
    padding: 10px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    display: inline-flex;
    justify-content: center; 
    background-color: rgb(8, 40, 143);
    color: white;
    align-items: center;
}

.erase img{
    float:left;
    margin-right:0.5em;
    width: 20px;
    height: 20px;

}

.middle-section button:hover,
.reset-btn:hover,
.modal-content button {
    opacity: 0.9;
    cursor: pointer;
}


.random-color span {
    display: table-cell;
}

.square-box {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(175, 173, 173); 
}

.bottom-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.bottom-section * {
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
}

.bottom-section input {
    width: 100%;
    height: 12px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
}

.bottom-section input::-webkit-slider-thumb {
    cursor: pointer;
}

.reset-btn {
    width: 110px;
    padding: 6px;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    display: inline-flex;
    justify-content: center; 
    background-color: rgb(230, 230, 230);
    color: black;
}


.grid-container {
    display: grid;
    width: 800px;
    height:  800px;
    background-color: #FFFFFF;
    border: 3px solid #525252;
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hide-grid-btn {
  margin-bottom: 16px;
  width: 120px;
  padding: 6px;
  border-radius: 4px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}


.hide-grid-btn img{
    float:left;
    margin-right:0.5em;
    width: 20px;
    height: 20px;
}

.hide-grid-btn:hover {
    opacity: 0.9;
    cursor: pointer;
    background-color: rgb(0, 22, 94);
    color: white;
}

.github {
    color: white;
    font-weight: bold;
}

.footer-content {
    color: white;
}


.btn-container {
    position: relative;
}


.grid-size-modal {
    display: none;
    border: 1px solid black;
    z-index: 1; /* Sit on top */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #020c2e;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    height: 260px;
}

.modal-content button {
    margin-bottom: 10px;
    width: 130px;
    padding: 10px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    display: inline-flex;
    justify-content: center; 
    background-color: rgb(8, 40, 143);
    color: white;
    align-items: center;
}

.grid-size-input {
    margin-bottom: 22px;
    position: relative;
    width: 100%;
    max-width: 180px;
    height: 35px;
    border-radius: 6px;
}

.modal-title {
    color: white;
    font-weight: bold;
}

.error-message {
    color: red;
    font-weight: bold;
}

.modal-actions {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
}


@media (max-height: 900px) {
    footer {
        display: none;
    }
}