*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    background-color: #010225;
}

a {
    font-size: 1rem;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

span {
    margin: 0;
    padding: 0;
}

.red { color: red; }
.orange { color: orange; }
.yellow { color: yellow; }
.green { color: green; }
.blue { color: blue; }
.violet { color: violet; }


main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  min-height: 100vh;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    gap: 100px;
}

h1 {
    color: white;
}

input[type="color"]::-moz-color-swatch {
    border: none;
  }
  
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 0;
}
  
  input[type="color"]::-webkit-color-swatch {
    border: none;
}


.btn-container {
    background-color: #183d74;
    padding: 24px;
    height: 100%;
    margin-top: 30px;
    border-radius: 8px;
}

.top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    gap: 8px;
}

.top-section input {
    width: 80px;
    height: 32px;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0.8rem;
    
}

.top-section label {
    margin: 0;
    padding: 0;
    color: white;
    font-weight: bold;
}


.top-section input:hover {
    cursor: pointer;
}

.middle-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 20px;
}

.middle-section button {
    margin-bottom: 10px;
    width: 130px;
    padding: 10px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    display: inline-flex;
    justify-content: center; 
    background-color: rgb(8, 40, 143);
    color: white;
    align-items: center;
}

.erase img{
    float:left;
    margin-right:0.5em;
    width: 20px;
    height: 20px;

}

.middle-section button:hover {
    opacity: 0.9;
    cursor: pointer;
}


.random-color span {
    display: table-cell;
}

.square-box {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(175, 173, 173); 
}



.bottom-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.bottom-section * {
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
}

.bottom-section input {
    width: 100%;
    height: 12px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
}

.bottom-section input::-webkit-slider-thumb {
    cursor: pointer;
}


.grid-container {
    display: grid;
    width: 800px;
    height:  800px;
    background-color: #FFFFFF;
    border: 3px solid #525252;
}

.hide-grid {
  margin-bottom: 18px;   
}